[INPUT/OUTPUT]
INPUT_FILE = /notebook/nas-trainings/arne/DGFISMA_doc_classification/DATA/train_data_all.tsv
OUTPUT_DIR = /notebook/nas-trainings/arne/DGFISMA_doc_classification/MODELS/MODEL_WITH_SOLR_DATA_MILIEU

[TFIDF_PARAMETERS]
LANGUAGE = english
FEATURE_SELECTION_SVC = True
PENALTY_FEATURE_SELECTION = l1
THRESHOLD_FEATURE_SELECTION=1e-5
PENALTY = l2
DUAL = False
REMOVE_PUNCTUATION_NUMBERS = True
BALANCED = True
JOBS = -1